В данной практической работе будет рассмотрен анализ датасета.
Цель: научиться работать с библиотекой pandas в Python для обработки датасетов, используя файл Jupyter Notebook. Освоить базовые функции для работы с данными в форматах, таких как csv.

In [12]:
import pandas as pd
data = pd.read_csv('star_wars_character_dataset.csv')
data

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,TIE Advanced x1
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human,"The Empire Strikes Back, Revenge of the Sith, ...",Imperial Speeder Bike,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,"H-type Nubian yacht, Naboo star skiff, Naboo f..."

В данном блоке кода мы импортируем библиотеку pandas, с помощью метода из данной библиотеки идет чтение и запись нашего датасета в переменную. Вывод полного датасета.
Данный датасет представляет собой информацию о персонажах франшизы «Звёздные войны» (Star Wars). В полях описаны различные данные по тому или иному персонажу, такие как: вес, рост, участие в фильмах и тп.
Давайте выведем информацию о датасете.

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        87 non-null     object
 1   height      81 non-null     float64
 2   mass        59 non-null     float64
 3   hair_color  82 non-null     object
 4   skin_color  87 non-null     object
 5   eye_color   87 non-null     object
 6   birth_year  43 non-null     float64
 7   sex         83 non-null     object
 8   gender      83 non-null     object
 9   homeworld   77 non-null     object
 10  species     83 non-null     object
 11  films       87 non-null     object
 12  vehicles    11 non-null     object
 13  starships   20 non-null     object
dtypes: float64(3), object(11)
memory usage: 9.6+ KB

Как вы можете видеть, здесь представлена полная информация о нашем датасете от названия колонок до типа данных, используемых в столбце и занимаегого места файлом.
Теперь перейдем к описанию датасета.

In [14]:
data.describe()

           height         mass  birth_year
count   81.000000    59.000000   43.000000
mean   174.358025    97.311864   87.565116
std     34.770429   169.457163  154.691439
min     66.000000    15.000000    8.000000
25%    167.000000    55.600000   35.000000
50%    180.000000    79.000000   52.000000
75%    191.000000    84.500000   72.000000
max    264.000000  1358.000000  896.000000

Описание датасета представляет собой аналитическую информацию о численных данных данного датасета: минимальные и максимальные значения, среднее значение и тд. Давайте опишем все наши колонки.

In [15]:
data.describe(include='all')

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
count,87,81.000000,59.000000,82,87,87,43.000000,83,83,77,83,87,11,20
unique,87,NaN,NaN,12,31,15,NaN,4,2,48,37,24,10,16
top,Luke Skywalker,NaN,NaN,none,fair,brown,NaN,male,masculine,Naboo,Human,Attack of the Clones,Tribubble bongo,X-wing
freq,1,NaN,NaN,37,17,21,NaN,60,66,11,35,13,2,3
mean,NaN,174.358025,97.311864,NaN,NaN,NaN,87.565116,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,34.770429,169.457163,NaN,NaN,NaN,154.691439,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,66.000000,15.000000,NaN,NaN,NaN,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,167.000000,55.600000,NaN,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,180.000000,79.000000,NaN,NaN,NaN,52.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,191.000000,84.500000,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,264.000000,1358.000000,NaN,NaN,NaN,896.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

В данном примере мы видим, что мы получили описания всех представленных данных из датасета. Давайте же узнаем размерность нашего массива.

In [16]:
print("Размерность массива:", data.shape)

Размерность массива: (87, 14)

Как мы видим, размернось массива составляет 87 строчек и 14 столбцов. Давайте опишем каждый столбец.

In [17]:
column_names = data.columns
print("Перечисление названий всех колонок:", column_names)
for column in column_names:
    match column:
        case 'name':
            description = "Описание колонки '{}': имя персонажа".format(column)
            print(description)
        case 'height':
            description = "Описание колонки '{}': рост персонажа".format(column)
            print(description)
        case 'mass':
            description = "Описание колонки '{}': вес(масса) персонажа".format(column)
            print(description)
        case 'hair_color':
            description = "Описание колонки '{}': цвет волос персонажа".format(column)
            print(description)
        case 'eye_color':
            description = "Описание колонки '{}': цвет глаз персонажа".format(column)
            print(description)
        case 'birth_year':
            description = "Описание колонки '{}': возраст персонажа".format(column)
            print(description)
        case 'sex':
            description = "Описание колонки '{}': пол персонажа".format(column)
            print(description)
        case 'gender':
            description = "Описание колонки '{}': гендер персонажа".format(column)
            print(description)
        case 'homeworld':
            description = "Описание колонки '{}': родина персонажа".format(column)
            print(description)
        case 'species':
            description = "Описание колонки '{}': раса персонажа".format(column)
            print(description)
        case 'films':
            description = "Описание колонки '{}': участия в фильмах персонажа".format(column)
            print(description)
        case 'vehicles':
            description = "Описание колонки '{}': транспортные средства персонажа".format(column)
            print(description)
        case 'starships':
            description = "Описание колонки '{}': корабли персонажа".format(column)
            print(description)

Перечисление названий всех колонок: Index(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color',
       'birth_year', 'sex', 'gender', 'homeworld', 'species', 'films',
       'vehicles', 'starships'],
      dtype='object')
Описание колонки 'name': имя персонажа
Описание колонки 'height': рост персонажа
Описание колонки 'mass': вес(масса) персонажа
Описание колонки 'hair_color': цвет волос персонажа
Описание колонки 'eye_color': цвет глаз персонажа
Описание колонки 'birth_year': возраст персонажа
Описание колонки 'sex': пол персонажа
Описание колонки 'gender': гендер персонажа
Описание колонки 'homeworld': родина персонажа
Описание колонки 'species': раса персонажа
Описание колонки 'films': участия в фильмах персонажа
Описание колонки 'vehicles': транспортные средства персонажа
Описание колонки 'starships': корабли персонажа

Итак, мы получили описание каждой колонки и названия всех колонок с их типом. Выведем все уникальные значения массива.

In [18]:
for column in column_names:
    unique_values = data[column].unique()
    print("Уникальные значения для колонки '{}': {}".format(column, unique_values))

Уникальные значения для колонки 'name': ['Luke Skywalker' 'C-3PO' 'R2-D2' 'Darth Vader' 'Leia Organa' 'Owen Lars'
 'Beru Whitesun lars' 'R5-D4' 'Biggs Darklighter' 'Obi-Wan Kenobi'
 'Anakin Skywalker' 'Wilhuff Tarkin' 'Chewbacca' 'Han Solo' 'Greedo'
 'Jabba Desilijic Tiure' 'Wedge Antilles' 'Jek Tono Porkins' 'Yoda'
 'Palpatine' 'Boba Fett' 'IG-88' 'Bossk' 'Lando Calrissian' 'Lobot'
 'Ackbar' 'Mon Mothma' 'Arvel Crynyd' 'Wicket Systri Warrick' 'Nien Nunb'
 'Qui-Gon Jinn' 'Nute Gunray' 'Finis Valorum' 'Jar Jar Binks'
 'Roos Tarpals' 'Rugor Nass' 'Ric Olié' 'Watto' 'Sebulba' 'Quarsh Panaka'
 'Shmi Skywalker' 'Darth Maul' 'Bib Fortuna' 'Ayla Secura' 'Dud Bolt'
 'Gasgano' 'Ben Quadinaros' 'Mace Windu' 'Ki-Adi-Mundi' 'Kit Fisto'
 'Eeth Koth' 'Adi Gallia' 'Saesee Tiin' 'Yarael Poof' 'Plo Koon'
 'Mas Amedda' 'Gregar Typho' 'Cordé' 'Cliegg Lars' 'Poggle the Lesser'
 'Luminara Unduli' 'Barriss Offee' 'Dormé' 'Dooku' 'Bail Prestor Organa'
 'Jango Fett' 'Zam Wesell' 'Dexter Jettster' 'Lama Su' 'Taun We'
 'Jocasta Nu' 'Ratts Tyerell' 'R4-P17' 'Wat Tambor' 'San Hill' 'Shaak Ti'
 'Grievous' 'Tarfful' 'Raymus Antilles' 'Sly Moore' 'Tion Medon' 'Finn'
 'Rey' 'Poe Dameron' 'BB8' 'Captain Phasma' 'Padmé Amidala']
Уникальные значения для колонки 'height': [172. 167.  96. 202. 150. 178. 165.  97. 183. 182. 188. 180. 228. 173.
 175. 170.  66. 200. 190. 177.  nan  88. 160. 193. 191. 196. 224. 206.
 137. 112. 163.  94. 122. 198. 171. 184. 264. 185. 157. 166. 168. 229.
 213.  79. 216. 234.]
Уникальные значения для колонки 'mass': [  77.    75.    32.   136.    49.   120.    84.     nan  112.    80.
   74.  1358.   110.    17.    78.2  140.   113.    79.    83.    20.
   68.    89.    90.    66.    82.    40.    55.    45.    65.    87.
   50.    85.    56.2  102.    88.    15.    48.    57.   159. ]
Уникальные значения для колонки 'hair_color': ['blond' nan 'none' 'brown' 'brown, grey' 'black' 'auburn, white'
 'auburn, grey' 'white' 'grey' 'auburn' 'blonde' 'unknown']
Уникальные значения для колонки 'skin_color': ['fair' 'gold' 'white, blue' 'white' 'light' 'white, red' 'unknown'
 'green' 'green-tan, brown' 'pale' 'metal' 'dark' 'brown mottle' 'brown'
 'grey' 'mottled green' 'orange' 'blue, grey' 'grey, red' 'red' 'blue'
 'grey, green, yellow' 'yellow' 'tan' 'fair, green, yellow' 'grey, blue'
 'silver, red' 'green, grey' 'red, blue, white' 'brown, white' 'none']
Уникальные значения для колонки 'eye_color': ['blue' 'yellow' 'red' 'brown' 'blue-gray' 'black' 'orange' 'hazel' 'pink'
 'unknown' 'red, blue' 'gold' 'green, yellow' 'white' 'dark']
Уникальные значения для колонки 'birth_year': [ 19.  112.   33.   41.9  52.   47.    nan  24.   57.   64.  200.   29.
  44.  600.   21.  896.   82.   31.5  15.   53.   31.   37.   41.   48.
   8.   92.   91.   62.   72.   54.   22.   58.   40.  102.   67.   66.
  46. ]
Уникальные значения для колонки 'sex': ['male' 'none' 'female' 'hermaphroditic' nan]
Уникальные значения для колонки 'gender': ['masculine' 'feminine' nan]
Уникальные значения для колонки 'homeworld': ['Tatooine' 'Naboo' 'Alderaan' 'Stewjon' 'Eriadu' 'Kashyyyk' 'Corellia'
 'Rodia' 'Nal Hutta' 'Bestine IV' nan 'Kamino' 'Trandosha' 'Socorro'
 'Bespin' 'Mon Cala' 'Chandrila' 'Endor' 'Sullust' 'Cato Neimoidia'
 'Coruscant' 'Toydaria' 'Malastare' 'Dathomir' 'Ryloth' 'Vulpter'
 'Troiken' 'Tund' 'Haruun Kal' 'Cerea' 'Glee Anselm' 'Iridonia' 'Iktotch'
 'Quermia' 'Dorin' 'Champala' 'Geonosis' 'Mirial' 'Serenno' 'Concord Dawn'
 'Zolan' 'Ojom' 'Aleen Minor' 'Skako' 'Muunilinst' 'Shili' 'Kalee'
 'Umbara' 'Utapau']
Уникальные значения для колонки 'species': ['Human' 'Droid' 'Wookiee' 'Rodian' 'Hutt' "Yoda's species" 'Trandoshan'
 'Mon Calamari' 'Ewok' 'Sullustan' 'Neimodian' 'Gungan' nan 'Toydarian'
 'Dug' 'Zabrak' "Twi'lek" 'Vulptereen' 'Xexto' 'Toong' 'Cerean' 'Nautolan'
 'Tholothian' 'Iktotchi' 'Quermian' 'Kel Dor' 'Chagrian' 'Geonosian'
 'Mirialan' 'Clawdite' 'Besalisk' 'Kaminoan' 'Aleena' 'Skakoan' 'Muun'
 'Togruta' 'Kaleesh' "Pau'an"]
Уникальные значения для колонки 'films': ['The Empire Strikes Back, Revenge of the Sith, Return of the Jedi, A New Hope, The Force Awakens'
 'The Empire Strikes Back, Attack of the Clones, The Phantom Menace, Revenge of the Sith, Return of the Jedi, A New Hope'
 'The Empire Strikes Back, Attack of the Clones, The Phantom Menace, Revenge of the Sith, Return of the Jedi, A New Hope, The Force Awakens'
 'The Empire Strikes Back, Revenge of the Sith, Return of the Jedi, A New Hope'
 'Attack of the Clones, Revenge of the Sith, A New Hope' 'A New Hope'
 'Attack of the Clones, The Phantom Menace, Revenge of the Sith'
 'Revenge of the Sith, A New Hope'
 'The Empire Strikes Back, Return of the Jedi, A New Hope, The Force Awakens'
 'The Phantom Menace, Return of the Jedi, A New Hope'
 'The Empire Strikes Back, Return of the Jedi, A New Hope'
 'The Empire Strikes Back, Attack of the Clones, The Phantom Menace, Revenge of the Sith, Return of the Jedi'
 'The Empire Strikes Back, Attack of the Clones, Return of the Jedi'
 'The Empire Strikes Back' 'The Empire Strikes Back, Return of the Jedi'
 'Return of the Jedi, The Force Awakens' 'Return of the Jedi'
 'The Phantom Menace' 'Attack of the Clones, The Phantom Menace'
 'The Phantom Menace, Revenge of the Sith' 'Attack of the Clones'
 'Attack of the Clones, Revenge of the Sith' 'Revenge of the Sith'
 'The Force Awakens']
Уникальные значения для колонки 'vehicles': ['Snowspeeder, Imperial Speeder Bike' nan 'Imperial Speeder Bike'
 'Tribubble bongo' 'Zephyr-G swoop bike, XJ-6 airspeeder' 'AT-ST'
 'Snowspeeder' 'Sith speeder' 'Flitknot speeder'
 'Koro-2 Exodrive airspeeder' 'Tsmeu-6 personal wheel bike']
Уникальные значения для колонки 'starships': ['X-wing, Imperial shuttle' nan 'TIE Advanced x1' 'X-wing'
 'Jedi starfighter, Trade Federation cruiser, Naboo star skiff, Jedi Interceptor, Belbullab-22 starfighter'
 'Trade Federation cruiser, Jedi Interceptor, Naboo fighter'
 'Millennium Falcon, Imperial shuttle' 'Slave 1' 'Millennium Falcon'
 'A-wing' 'Naboo Royal Starship' 'Scimitar' 'Jedi starfighter'
 'Naboo fighter' 'Belbullab-22 starfighter' 'T-70 X-wing fighter'
 'H-type Nubian yacht, Naboo star skiff, Naboo fighter']

Мы вывели все уникальные значения для каждой из колонок. Теперь стоит отсортировать значения по одному из параметров.

In [20]:
data = data.sort_values(by='birth_year', ascending=False)
data

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
18,Yoda,66.0,17.0,white,green,brown,896.0,male,masculine,NaN,Yoda's species,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
15,Jabba Desilijic Tiure,175.0,1358.0,NaN,"green-tan, brown",orange,600.0,hermaphroditic,masculine,Nal Hutta,Hutt,"The Phantom Menace, Return of the Jedi, A New ...",NaN,NaN
12,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,masculine,Kashyyyk,Wookiee,"The Empire Strikes Back, Revenge of the Sith, ...",AT-ST,"Millennium Falcon, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
63,Dooku,193.0,80.0,white,fair,brown,102.0,male,masculine,Serenno,Human,"Attack of the Clones, Revenge of the Sith",Flitknot speeder,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Finn,NaN,NaN,black,dark,dark,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,NaN
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN

Мы отсортировали датасет по возрасту персонажей по убыванию. Далее мы удалим один из столбцов.

In [21]:
data = data.drop(['gender'], axis=1)
data

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,homeworld,species,films,vehicles,starships
18,Yoda,66.0,17.0,white,green,brown,896.0,male,NaN,Yoda's species,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
15,Jabba Desilijic Tiure,175.0,1358.0,NaN,"green-tan, brown",orange,600.0,hermaphroditic,Nal Hutta,Hutt,"The Phantom Menace, Return of the Jedi, A New ...",NaN,NaN
12,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,Kashyyyk,Wookiee,"The Empire Strikes Back, Revenge of the Sith, ...",AT-ST,"Millennium Falcon, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
63,Dooku,193.0,80.0,white,fair,brown,102.0,male,Serenno,Human,"Attack of the Clones, Revenge of the Sith",Flitknot speeder,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Finn,NaN,NaN,black,dark,dark,NaN,male,NaN,Human,The Force Awakens,NaN,NaN
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN

Как вы можете видеть, удаление прошло успешно. Теперь поменяем названия некоторых из колонок.

In [22]:
new = {'mass': 'weight', 'birth_year': 'age', 'homeworld': 'homeland'}
data.rename(columns=new, inplace=True)
data

,name,height,weight,hair_color,skin_color,eye_color,age,sex,homeland,species,films,vehicles,starships
18,Yoda,66.0,17.0,white,green,brown,896.0,male,NaN,Yoda's species,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
15,Jabba Desilijic Tiure,175.0,1358.0,NaN,"green-tan, brown",orange,600.0,hermaphroditic,Nal Hutta,Hutt,"The Phantom Menace, Return of the Jedi, A New ...",NaN,NaN
12,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,Kashyyyk,Wookiee,"The Empire Strikes Back, Revenge of the Sith, ...",AT-ST,"Millennium Falcon, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
63,Dooku,193.0,80.0,white,fair,brown,102.0,male,Serenno,Human,"Attack of the Clones, Revenge of the Sith",Flitknot speeder,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Finn,NaN,NaN,black,dark,dark,NaN,male,NaN,Human,The Force Awakens,NaN,NaN
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN

В этом случае мы также спокойно удалили ненужный столбец таблицы. Теперь попробуем удалить строки с пустыми значениями.

In [23]:
drop_data = data.dropna()
drop_data

,name,height,weight,hair_color,skin_color,eye_color,age,sex,homeland,species,films,vehicles,starships
12,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,Kashyyyk,Wookiee,"The Empire Strikes Back, Revenge of the Sith, ...",AT-ST,"Millennium Falcon, Imperial shuttle"
9,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,Stewjon,Human,"The Empire Strikes Back, Attack of the Clones,...",Tribubble bongo,"Jedi starfighter, Trade Federation cruiser, Na..."
41,Darth Maul,175.0,80.0,none,red,yellow,54.0,male,Dathomir,Zabrak,The Phantom Menace,Sith speeder,Scimitar
10,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,Tatooine,Human,"Attack of the Clones, The Phantom Menace, Reve...","Zephyr-G swoop bike, XJ-6 airspeeder","Trade Federation cruiser, Jedi Interceptor, Na..."
16,Wedge Antilles,170.0,77.0,brown,fair,hazel,21.0,male,Corellia,Human,"The Empire Strikes Back, Return of the Jedi, A...",Snowspeeder,X-wing
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"

Удалось успешно выполнить удаление, теперь попробуем удалить дубликаты, если таковые имеются.

In [24]:
data.drop_duplicates(inplace=True)
data

,name,height,weight,hair_color,skin_color,eye_color,age,sex,homeland,species,films,vehicles,starships
18,Yoda,66.0,17.0,white,green,brown,896.0,male,NaN,Yoda's species,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
15,Jabba Desilijic Tiure,175.0,1358.0,NaN,"green-tan, brown",orange,600.0,hermaphroditic,Nal Hutta,Hutt,"The Phantom Menace, Return of the Jedi, A New ...",NaN,NaN
12,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,Kashyyyk,Wookiee,"The Empire Strikes Back, Revenge of the Sith, ...",AT-ST,"Millennium Falcon, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
63,Dooku,193.0,80.0,white,fair,brown,102.0,male,Serenno,Human,"Attack of the Clones, Revenge of the Sith",Flitknot speeder,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Finn,NaN,NaN,black,dark,dark,NaN,male,NaN,Human,The Force Awakens,NaN,NaN
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,NaN,none,none,black,NaN,none,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN

Дубликатов в нашем массиве не оказалось, следовательно можно идти далее. Следующий шаг - удалить дубликаты по нескольким столбцам.

In [25]:
drop_data = data.drop_duplicates(subset=['vehicles', 'starships'])
drop_data

,name,height,weight,hair_color,skin_color,eye_color,age,sex,homeland,species,films,vehicles,starships
18,Yoda,66.0,17.0,white,green,brown,896.0,male,NaN,Yoda's species,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
12,Chewbacca,228.0,112.0,brown,unknown,blue,200.0,male,Kashyyyk,Wookiee,"The Empire Strikes Back, Revenge of the Sith, ...",AT-ST,"Millennium Falcon, Imperial shuttle"
63,Dooku,193.0,80.0,white,fair,brown,102.0,male,Serenno,Human,"Attack of the Clones, Revenge of the Sith",Flitknot speeder,NaN
30,Qui-Gon Jinn,193.0,89.0,brown,fair,blue,92.0,male,NaN,Human,The Phantom Menace,Tribubble bongo,NaN
9,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,Stewjon,Human,"The Empire Strikes Back, Attack of the Clones,...",Tribubble bongo,"Jedi starfighter, Trade Federation cruiser, Na..."
41,Darth Maul,175.0,80.0,none,red,yellow,54.0,male,Dathomir,Zabrak,The Phantom Menace,Sith speeder,Scimitar
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,Naboo,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,"H-type Nubian yacht, Naboo star skiff, Naboo f..."
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,TIE Advanced x1
10,Anakin Skywalker,188.0,84.0,blond,fair,blue,41.9,male,Tatooine,Human,"Attack of the Clones, The Phantom Menace, Reve...","Zephyr-G swoop bike, XJ-6 airspeeder","Trade Federation cruiser, Jedi Interceptor, Na..."
20,Boba Fett,183.0,78.2,black,fair,brown,31.5,male,Kamino,Human,"The Empire Strikes Back, Attack of the Clones,...",NaN,Slave 1
23,Lando Calrissian,177.0,79.0,black,dark,brown,31.0,male,Socorro,Human,"The Empire Strikes Back, Return of the Jedi",NaN,Millennium Falcon
13,Han Solo,180.0,80.0,brown,fair,brown,29.0,male,Corellia,Human,"The Empire Strikes Back, Return of the Jedi, A...",NaN,"Millennium Falcon, Imperial shuttle"
8,Biggs Darklighter,183.0,84.0,black,light,brown,24.0,male,Tatooine,Human,A New Hope,NaN,X-wing
54,Plo Koon,188.0,80.0,none,orange,black,22.0,male,Dorin,Kel Dor,"Attack of the Clones, The Phantom Menace, Reve...",NaN,Jedi starfighter
16,Wedge Antilles,170.0,77.0,brown,fair,hazel,21.0,male,Corellia,Human,"The Empire Strikes Back, Return of the Jedi, A...",Snowspeeder,X-wing
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,Alderaan,Human,"The Empire Strikes Back, Revenge of the Sith, ...",Imperial Speeder Bike,NaN
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"
27,Arvel Crynyd,NaN,NaN,brown,fair,brown,NaN,male,NaN,Human,Return of the Jedi,NaN,A-wing
36,Ric Olié,183.0,NaN,brown,fair,blue,NaN,NaN,Naboo,NaN,The Phantom Menace,NaN,Naboo Royal Starship
56,Gregar Typho,185.0,85.0,black,dark,brown,NaN,male,Naboo,Human,Attack of the Clones,NaN,Naboo fighter
66,Zam Wesell,168.0,55.0,blonde,"fair, green, yellow",yellow,NaN,female,Zolan,Clawdite,Attack of the Clones,Koro-2 Exodrive airspeeder,NaN
76,Grievous,216.0,159.0,none,"brown, white","green, yellow",NaN,male,Kalee,Kaleesh,Revenge of the Sith,Tsmeu-6 personal wheel bike,Belbullab-22 starfighter
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter

Получили выходные данные без дубликатов по двум колонкам. Теперь давайте выведем одно из значений.

In [26]:
value = data.loc[data['name'] == 'Obi-Wan Kenobi']
value

,name,height,weight,hair_color,skin_color,eye_color,age,sex,homeland,species,films,vehicles,starships
9,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,Stewjon,Human,"The Empire Strikes Back, Attack of the Clones,...",Tribubble bongo,"Jedi starfighter, Trade Federation cruiser, Na..."

Мы получили интересующего нас персонажа. Далее стоит вывести все значения, которые подходят под условие.

In [28]:
values = data.loc[data['weight'] == 77.0]
values

,name,height,weight,hair_color,skin_color,eye_color,age,sex,homeland,species,films,vehicles,starships
9,Obi-Wan Kenobi,182.0,77.0,"auburn, white",fair,blue-gray,57.0,male,Stewjon,Human,"The Empire Strikes Back, Attack of the Clones,...",Tribubble bongo,"Jedi starfighter, Trade Federation cruiser, Na..."
16,Wedge Antilles,170.0,77.0,brown,fair,hazel,21.0,male,Corellia,Human,"The Empire Strikes Back, Return of the Jedi, A...",Snowspeeder,X-wing
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"

Данные строчки подходят под наше условие веса персонажа.
Давайте попробуем экспортировать наш новый файл сначала в html, а затем в csv.

In [29]:
data.to_html('star_wars_page.html', index=False)

In [30]:
data.to_csv('new_sw_dataset.csv', index=False)

Вывод: в ходе работы успешно удалось научиться работать с библиотекой pandas в Python для обработки датасетов, используя файл Jupyter Notebook. Освоить базовые функции для работы с данными в форматах, таких как csv.